/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

/* style for the top nav bar  */
.TopNavBar{
    background-image: linear-gradient(#000000, #7d12ff);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* style for the logo of the top nav bar */
.logo1{
    content:url(./Images/LOGO.png);
    width: 4rem;
    height: 4rem;
    margin-top: 2.0rem;
}

/* style for the Main heading of the top nav bar */
.Text1{
    font-family: 'Archivo Black';
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.784);
    line-height: rem;
    margin-top: 5rem;
}

/* centring the subheadings h2 of the web page  */
.container{
    text-align: center;
}

/* style for all the subheadings h2 */
.container h2{
    font-family: 'Archivo Black';
    color: rgba(215, 119, 224, 0.784);
    font-size: 2.2rem;
    line-height: 3rem;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
}

/* setting the background image for the web page */
body{
    background-image: url(./Images/back4.jpg);
    background-size: 100% 113rem;
}

/* common styles for different sections of the webpage */
.Rules-Regulations, .Game-Rules-And-Details, .Game-Schedule{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;
    margin: 0rem 2rem;
    padding: 3rem 4rem;
    border: 0.5em solid #7d12ff ;
    line-height: 2.5rem;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-bottom: 1rem;
}

.Game-Rules-And-Details li{
    line-height: 2.2rem;
    color: rgba(255, 255, 255, 0.784);
}

.Game-Rules-And-Details h3{
    color: rgb(184, 250, 250);
}

.Game-Schedule li{
    color: rgb(248, 250, 184);
}

/* syling the heading above the button */
.Button_heading{
    font-family: 'Archivo Black';
    color: rgba(157, 119, 224, 0.784);
    font-size: 2rem;
    line-height: 3rem;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

/* styling the button */
button{
    padding: 1rem;
}

button:hover{
    cursor: pointer;
    background-color: rgb(184, 250, 250);
    border-radius: 4px;
}

/* media queries to make responsive design for different screens */
@media (min-width: 1201px)
{
    html{
        font-size: 90%;
        }
}
/* For smaller laptops */
@media (max-width:1200px) and (min-width: 1025px)
{
    html{
        font-size: 75%;
        }
}
/* For ipad */
@media (max-width:1024px) and (min-width: 769px)
{
    html{
        font-size: 55%;
        }
}

@media (max-width:768px) and (min-width: 481px)
{
    html{
        font-size: 45%;
    }
}
@media (max-width:480px) and (min-width: 320px)
{
    .Theme_heading{
        font-size: 2rem;
    }
    .Text1{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .Rules-Regulations, .Game-Rules-And-Details, .Game-Schedule{
        font-size: 16px;
        line-height: 1.5rem;
        text-align: left;
        padding: 2em;
    }

    .Button_heading{
        font-size: 1.6rem;
        padding: 0rem 1rem;
    }
}
